<%layout("/layouts/boilerplate")%>
<body>
    
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h2>Create new Listing</h2>
    <form action="/listnew" method="POST"  class="needs-validation" >
        <div class="mb-3">
            <label for="title" class="form-label" > Title</label>
            <input name="list[title]" placeholder="enter title" class="form-control" required><br>
            <div class="valid-feedback"> good</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label"> Description</label>
            <input name="list[description]" placeholder="enter desc" class="form-control" required ><br>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label"> Image</label>
            <input name="list[image]" placeholder="enter image url" class="form-control"><br>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label"> Price</label>
                <input name="list[price]" placeholder="enter price" type="number" class="form-control" required><br>
            </div>
            <div class="mb-3 col-md-8">
                <label for="location" class="form-label"> Location</label>
                <input name="list[location]" placeholder="enter location" class="form-control" required><br>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="country" class="form-label"> Country</label>
            <input name="country" placeholder="enter country"  class="form-control" required>
        </div>
       
        
        
        <button class="btn btn-dark mt-3" style="background-color: red;">submit</button>
    </form>
</body>
</div>
</div>